*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img
{
    width:100px;
    height:100px;
}

.parent
{
    height:2000px;
    border:1px solid black;
    position: relative
}

.img
{
    bottom: -1px;
    right: -1px;
    position: fixed;
}