div{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}

img{
    display:block;
    margin:auto;
}

h1{
    text-align:center;
}

h6{
    color:orange;
}
hr{
    border-color: aqua;
}